@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    font-weight: 500;
}
/* heder section */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1000px;
    /* padding: 30px; */
    margin: 30px;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    background-color: #0A0826;
}
.nav-container{
    width:1000px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav h4{
    font-weight: 900;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin: 14px;
    padding: 2px 5px;
    font-weight: 600;
     position: relative;
}
nav ul li .animation::after{
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    top:calc(100% + 4px);
    left: 0;
    background: #E02C6D;
    transition: 0.5s;
}
 nav ul li .animation:hover::after{
    width: 100%;
}  
/* ------------- banner -------------------*/
.right-banner img{
    width: 100%;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 0 15px;
}
.left-banner h1{
    color: #3A3A3A;
    font-weight: 800;
    line-height: 70px;
    font-size: 52px;
}
.left-banner p{
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 16px ;
}
.btn{
    color: white;
    background-color: #E02C6D;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    position: relative;
    top: 0;
    cursor: pointer;
    box-shadow: 0 8px 0 #7c0933;
}
.btn:active{
    top:5px;
    box-shadow: 0 3px 0 #7c0933;
}
.btn:hover::after{
    width: 100%;
}

/* Company Name */
.container .company{
    height: 110px;
    border-top:1px solid rgb(224, 221, 221);
    border-bottom:1px solid rgb(224, 221, 221);
}
.company .company-logo{
    display: flex;
    justify-content: space-around;
    height: 110px;
    align-items: center;
}
/* -----------collection container--------- */
.collection{
    width: 210px;
    height: 480px ;
    padding: 15px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    cursor: pointer;
}
.popular-collection h2{
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    margin: auto;
    color: #3A3A3A;
    margin-bottom: 20px;
    font-weight: 800;
}
.collection img{
    width: 100%;
}
.collection h3{
    font-size: 28px;
    line-height: 40px;
    padding: 4px 0;
}
.collection .price{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #474545;
}
.fa-star {
    color:orange;
}
.collection span{
    margin-left: 15px;
}
.collection .rating{
    padding-top: 8px ;
    padding-bottom: 15px;
}
.collection .collection-details{
    color: #787885;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
}
.popular-collection .bottom-link{
    color: #E02C6D;
    text-align: right;
    margin: 30px 5px;
    padding: 5px;
    cursor: pointer;
}

/* Bonus- content */
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    margin-bottom: 100px;
}
.contact-container h2{
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    margin: auto;
}
.contact-left img{
    width: 100%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 340px; */
}
.contact-right form .text-field{
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #E02C6D;
    padding-right: 0;
}
form .btn{
    width: 20%;
    left:42%;
    
}
/* Footer container */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 170px;
    background-color: #0A0826;
    align-items: center;
    color:aliceblue;
}
footer .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 120px;
    line-height: 25px;
}
.footer-content p{
    font-size: 14px;
    color:rgb(206, 213, 219);
}
.footer-content .social-link{
    margin-top: 10px;
}
.footer-content .social-link a{
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
}
/*--------------------------- media Queary--------------- */

/*-------- mobile device--------- */
 @media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    } 
    .company .company-logo{
        display: flex;
        flex-wrap: wrap;
    }
    .company{padding: 15px;}
    .banner{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .left-banner{
        order:2 ;
    }
    .collections{
            display: grid;
            grid-template-columns: repeat(1,1fr);
    }
    .popular-collection{
        padding: 0 15px;
    }
    .contact-container{
        padding: 0 15px;
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .contact-right form{
        align-items: center;
    }
    form .btn{
        left: 0;
    }
}
@media only screen and (min-width: 688px) and (max-width: 1000px){
    .container{
        width: 100%;
    } 
    .company .company-logo{
        display: flex;
        flex-wrap: wrap;
    }
     .banner{
        display: flex;
        flex-direction: column;
    } 
    .left-banner{
        order: 2;
    }
    .collections{
            display: grid;
            grid-template-columns: repeat(2,1fr);
    }
    .popular-collection{
        padding: 0 15px;
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        /* padding: 0 50px; */
    }
    .contact-container{
        padding: 0 30px;
    }

    .nav-container{
        padding: 20px;
    }
    .popular-collection .bottom-link{
        margin-right: 50px;
        padding: 50px;
        cursor: pointer;
    }
   
} 